params {

IR_ref = "/work/greenbaum/users/suns3/references/RM_HG38_BED/hg38_rm_IRannotated_sajid.bed"
reditool_hg38_ref = "/work/greenbaum/users/suns3/references/RNAediting/REDIportal_hg38_nonNA_simplified.txt"
de_batch_img = "/work/greenbaum/software/images/de_batch_1.0.sif"
R_lib_path = "/work/greenbaum/software/R/library"
}

profiles {
    juno {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'lsf'
            //container = 'docker://python:3.10'
            withLabel: big_mem {
                cpus = 1
                memory = '50 GB'
                time = '96h'
            }
            withLabel: small_mem {
                cpus = 1
                memory = '32 GB'
                time = '1h'
            }
        }
        executor {
            name = 'lsf'
            perJobMemLimit = true
            queueSize = 25
        }

    }

    local {
        process.executor = 'local'
    }
}
